body {
    background-color: #704FCB;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

nav {
    width: 100%;
    height: 4em;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-weight: 400;
    font-size: 2em;
    text-decoration: none;
    color: white;
    padding-left: .5em;
}

nav button {
    background-color: white;
    color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}

main section {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

main section div:nth-of-type(1), main section div:nth-of-type(2), main section div:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6em;
}

main section > div:nth-of-type(1), main section > div:nth-of-type(3) {
    flex-direction: column;
}

main section div:nth-of-type(2) {
    text-align: center;
}

#message-el {
    font-size: 1.4em;
    font-weight: 400;
}

#dealer-cards-el, #player-cards-el {
    display: flex;
}

#dealer-cards-el img, #player-cards-el img {
    width: 3em;
    height: 4.4em;
    margin: .4em;
}

button {
    background-color: black;
    width: 12em;
    height: 3em;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: 0.1s ease-out;
    margin: 1em;
    border-radius: .4em;
    font-weight: 600;
    color: white;
}

button:hover {
    transform: scale(1.1);
}

.card img:last-of-type {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.card img:last-of-type.fade-in {
    opacity: 1;
}








